<nav>
    <div class="site-title">
        <a href="/"><h1>Tashi <span>Phuntsho</span></h1></a>
        <p>My daily Life Story</p>
    </div>
    <ul>
        <li><a href="/">Note</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/note/create">New Note</a></li>
    </ul>
</nav>