<nav>
      <div class="site-title">
          <a href="/"><h1>GovTech <span>Live Directory</span></h1></a>
          <p>Employee Details in GovTech</p>
      </div>
      <ul>
          <li><a href="/user">Employee</a></li>
          <li><a href="/logout" style="color: white; background: red; padding: 8px 12px; text-decoration: none; border-radius: 5px;">Logout</a></li>
      </ul>
  </nav>