<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h1>Tashi Phuntsho</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus esse
        iusto vitae dolorum velit, nesciunt cupiditate voluptas dicta hic earum
        doloremque magnam magni cumque nulla beatae non porro quo placeat.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
